@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  src: local('Basier Circle'), url('https://fonts.cdnfonts.com/s/20637/BasierCircle-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Basier Square';
  font-style: normal;
  font-weight: 400;
  src: local('Basier Square'), url('https://fonts.cdnfonts.com/s/20637/BasierSquare-Regular.woff') format('woff');
}



* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

img {
  display: inline-block;
}

.logo {
  width: 183px;
}

nav {
  background-color: black;
  position: fixed;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.main-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 100px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.hero-header {
  font-family: 'Neue Metana', sans-serif;
  font-size: 80px;
  line-height: 120px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero-wrapper {
  width: 100%;
  max-width: 1000px;
}

.connect-btn {
  font-size: 20px;
  font-family: 'Basier Circle', sans-serif;
  padding: 10px 23px;
  border-radius: 6.49px;
  margin-right: 50px;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.nav-right-wrapper {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 1100px;
  overflow: hidden;
}

.nft-video {
  width: 100% !important;
}

.hero-subhead {
  font-family: 'Basier Circle';
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  max-width: 628px;
  text-align: center;
}

.hero-text-wrapper { 
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.hero-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.branded-a {
  margin: 0px 10px;
}

.branded-sun img { 
  margin-bottom: -20px;
  max-width: 80px;
  margin-left: -10px;
  margin-right: -10px;
}

.branded-i img {
  min-width: 37px;
  width: 100%;
  left: -8px;
  top: -10px;
  z-index: 6;
  position: absolute;
}

.branded-i {
  position: relative;
}

.rounded-border {
  background-color: #E3DDD4;
}

.bg-beige {
  background-color: #E3DDD4;
}

.mix-blend-overlay {
  width: 100vw;
  position: absolute;
  bottom: -100vh;
  /* background-color: black; */
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: difference !important;
}

.mix-blend { 
  mix-blend-mode: difference;
  color: #E3DDD4;
}

/* .lower {
  height: 100vh;
  background-color: black;
} */


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

@keyframes anim-world-beyond-o {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(90deg);
  }
}

@keyframes anim-world-beyond-u {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-0.8rem);
  }
  100% {
      transform: translateY(0);
  }
}

.anim-world-beyond-o{
  animation: anim-world-beyond-o 1600ms ease-out infinite;
  animation-fill-mode: both;
}

.anim-world-beyond-u{
  animation: anim-world-beyond-u 1400ms ease-out infinite;
  animation-fill-mode: both;
}

.nft-title {
  font-weight: 400;
font-size: 75px;
line-height: 115px;
min-width: 1200px;
}

.text-body {
  color: black !important;
}

.features {
  height: 100vh;
}