
@font-face {
  font-family: 'Neue Metana';
  font-style: normal;
  font-weight:400;
  src:local('Neue Metana'), url('./fonts/NeueMetana-Regular.otf') format('woff');
}

@font-face {
  font-family: 'Neue Metana';
  font-style: normal;
  font-weight:700;
  src:local('Neue Metana'), url('./fonts/NeueMetana-Bold.otf') format('woff');
}


@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight:400;
  src:local('Basier Circle'), url('./fonts/Basier Circle Regular.otf') format('woff');
}

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 700;
  src:local('Basier Circle'), url('./fonts/Basier Circle Bold.otf') format('woff');
}

.font-body {
  font-family: 'Basier Circle', sans-serif !important;
}

p {
  font-family: 'Basier Circle', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Neue Metana';
font-weight: 700;

}

.logo {
  width: 183px;
  position: relative;
  top: 5px;
}



button {
  background-color: #E3DDD4;
}

body {
  background-color: black;
}

img {
  display: inline-block;
}

.logo {
  width: 183px;
}

nav {
  /* background-color: black; */
  position: fixed;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.main-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 100px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.promo-header,
.hero-header {
  font-family: 'Neue Metana', sans-serif;
  font-size: 80px;
  line-height: 120px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero-wrapper {
  width: 100%;
  max-width: 1000px;
}

.connect-btn {
  font-size: 20px;
  font-family: 'Basier Circle', sans-serif;
  padding: 10px 23px;
  border-radius: 6.49px;
  margin-right: 50px;
  color: black;
  margin-right: 0 !important;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.nav-right-wrapper {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

.nft-video {
  width: 100%;
  height: auto;
}

.nft-header {
  font-size: 75px;
line-height: 115px;
}

.features-desc,
.nft-desc {
  font-size: 25px;
  line-height: 35px;
}

.supported-head {
  font-family: 'Neue Metana';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
margin-bottom: 30px;
}

.brand-logo {
  width: 100%;
  max-width: 180px;
}

.support-networks-wrapper {
  column-gap: 50px;
}

.features-desc {
  margin-bottom: 80px;
}

.nft-text {
  font-family: 'Basier Circle', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

.icons-section {
  padding: 50px 100px;
}

.icon-svg {
  max-height: 200px;
}

.negative-marg {
  margin-top: -10px;
}

.icon-header {
  font-size: 35px;
line-height: 70px;
margin-bottom: 30px;
}

.icons-wrapper {
  width: 100%;
  max-width: 1280px;
  column-gap: 50px;
}

.hero-subhead {
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  max-width: 628px;
  text-align: center;
}

.hero-text-wrapper { 
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.hero-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
}

.branded-a {
  margin: 0px 10px;
}

.branded-sun img { 
  margin-bottom: -20px;
  max-width: 80px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -20px;
}

.branded-i img {
  min-width: 37px;
  width: 100%;
  left: -8px;
  top: -10px;
  z-index: 6;
  position: absolute;
}

.branded-i-sm img {
  min-width: 31px;
  width: 100%;
  width: 100%;
  left: -8px;
  top: -10px;
  position: absolute;
}

.branded-i-sm {
  position: relative;
}

.branded-i img {
  min-width: 37px !important;
}

.branded-i {
  position: relative;
}

.rounded-border {
  background-color: #E3DDD4;
}

.bg-beige {
  background-color: #E3DDD4;
}

.mix-blend-overlay {
  width: 100vw;
  position: absolute;
  bottom: -100vh;
  /* background-color: black; */
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: difference !important;
}

.mix-blend { 
  mix-blend-mode: difference;
  color: #E3DDD4;
}

/* .lower {
  height: 100vh;
  background-color: black;
} */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

@keyframes anim-world-beyond-o {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(90deg);
  }
}

@keyframes anim-world-beyond-u {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-0.8rem);
  }
  100% {
      transform: translateY(0);
  }
}

.anim-world-beyond-o{
  animation: anim-world-beyond-o 1600ms ease-out infinite;
  animation-fill-mode: both;
}

.anim-world-beyond-u{
  animation: anim-world-beyond-u 1400ms ease-out infinite;
  animation-fill-mode: both;
}

.nft-title {
  font-weight: 400;
font-size: 75px;
line-height: 115px;
min-width: 1200px;
}

.text-body {
  color: black !important;
}

.features, .features-mobile {
  height: 280vh;
}
.features-1{
  height: 280vh;
}
/* 
.nft-video-section {
  height: 200vh
} */

.motoGp-section {
  height: 130vh;
  /* overflow: hidden; */
}

.motoGpBanner-wrapper {
  height: 100%;
  min-height: 700px;
}

.gallery-header,
.motoGp-header {
  font-family: 'Neue Metana';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 100px;
/* or 154% */
text-align: center;
color: #E3DDD4 !important;
max-width: 1000px;

}

.gallery-header {
  margin-bottom: 100px;
}

.game-logo {
  width: 100%;
  max-width: 200px;
}

.gallery-scroll-section {
  height: 100vh;
}

.game-wrapper {
  column-gap: 80px;
  margin-bottom: 80px;
}

.motoGp-Banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .motoGp-section {
  padding-top: 200px;
} */

.motoGpBanner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.motoGp-highlight {
  color: #FFCC31 !important;
}

.motoGp-header {
  z-index: 1;
}

.motoGp-star {
  position: absolute;
  top: 100px;
  max-width: 1200px;
}

.motoGp-desc p {
  color: #E3DDD4;
  font-family: 'Basier Circle', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 45px;
}


.motoGp-Banner {
  position: relative;
}

.banner-left-wrapper {
  transform: rotate(10deg);
  position: relative;
  left: -16vw;
  min-width: 115vw;
}

.video-nft-section {
  padding: 0 100px;
}


.nft-header-section {
  max-width: 1280px;
}



.motoGp-desc {
  padding: 100px 50px;
  padding-top: 50px;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
}

.motoGp-desc-wrapper {
  max-width: 900px;
}

.banner-right-wrapper {
  position: absolute;
  left: 1vw;
  min-width: 115vw;
  top: 0;
  transform: rotate(-10deg);
}


.mobile-feature-wrapper {
  padding: 0 50px;
}

.motoGpBanner-wrapper{
  height: auto;
}

.header-bold {
  font-weight: 700 !important;
}

.header-highlight {
  color: #FFCD32;
}

.enter-raffles-section {
  padding: 140px 50px;
  color: #E3DDD4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-header {
  color: #E3DDD4;
  font-family: 'Neue Metana';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 100px;

}

.bottom-banner {
  padding: 60px 100px;
}

.raffles-wrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-feature-wrapper {
  min-height: 150vh;
}
 
#eye-desc-mobile {
  min-height: auto !important;
}



.raffles-wrapper h1 {
  font-family: 'Neue Metana';
  margin-bottom: 40px;
  font-size: 60px;
line-height: 89px;
text-align: center;
}

.raffles-wrapper p {
  font-size: 25px;
line-height: 45px;
text-align: center;
}

.motogp-cta-btn {
  margin-top: 40px;
}

.branded-u {
  position: relative;
}

.branded-u img {
  position: absolute;
  width: 100%;
  max-width: 45px;
  left: 4px;
}

.site-footer {
  padding: 0px 100px;
}

.footer-logo {
  max-width: 180px;
}

.gallery-section {
  padding-top: 150px !important;
}


.footer-wrapper {
  padding: 60px 0;
  border-top: 3px solid #E3DDD4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.motoGpBanner-promo {
  max-height: 50vh !important;
}

.promo-hero-section {
  min-height: 100vh;
  color: #E3DDD4;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
}

.promo-hero-wrapper {
  max-width: 900px;
}

.promo-header {
  font-size: 72px;
    line-height: 90px;
    font-weight: 400;
    margin-bottom: 50px;
}

.motoGP-title-1 {
  width: 45%;
  margin-bottom: 40px;
}

.motoGP-title-2 {
 margin-bottom: 70px;
}

.promo-hero-section {
  padding: 100px;
  height: 170vh;
}

.promo-desc {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 129% */
  color: #E3DDD4;
}

.motoGPBike {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
}

.motoGPSticker {
  position: absolute;
  top: 40vh;
  right: 40vh;
  max-width: 350px;
}

.promo-hero-wrapper {
  position: relative;
}

.branded-a-lower {
   margin-right: 3px;
}

.promo-vid {
  position: absolute;
  width: 100%;
  height: 100%;
}

#video-1, #video-1-mobile {
  min-height: 100vh;
  min-width: 100vw;
}

.hero-container {
  padding: 100px;
  padding-top: 200px;
}

.nft-content-section {
  padding: 0px 100px;
}

.nft-desc-wrapper {
  max-width: 1280px;
}

.looping-icons-wrapper {
  padding: 120px 0;;
}

.features-title {
  font-size: 35px;
line-height: 70px;
}

.svg-mw{
  max-width: 150px;
}

.video-nft-section {
  height: auto;
}


.promo-vid-mobile {
  width: 100vw;
  z-index: -1;
  height: auto;
  min-width: 100vw;
}

.icon-col {
  max-width: 280px;
}

.features-header {
  font-size: 65px;
line-height: 89px;
}

.diamond-wrapper {
  max-width: 1400px;
  padding-top: 100px;
}

.sun-desc {
  max-width: 725px;
}

.eye-wrapper {
  max-width: 1400px;
}

.video-4-section {
  height: 170vh !important;
}

.animoca-logo {
  max-width: 163px;
}

.hex-logo {
  max-width: 250px !important;
}

.mobile-feature-desc {
    margin-bottom: 20px;
}


/* .vector-mw{
  max-width: 1024px;
} */

/* Mobile Queries */

@media only screen and (max-width: 1500px) {
 
  .motoGPSticker {
    right: 30vh;
  }

  .diamond-wrapper {
    max-width: 1200px;
    padding-top: 50px;
}

.eye-wrapper {
  max-width: 1200px;
}


}

@media only screen and (max-width: 1280px) {
 
  .diamond-wrapper {
    padding-right: 100px;
    padding-top: 150px;
  }

  .eye-wrapper {
    padding-right: 100px;
}

}


@media only screen and (max-width: 1180px) {

  .promo-hero-section {
    height: 150vh;
  }

  .icons-section {
    padding: 50px 50px;
}
.video-nft-section {
  padding: 50px 0;
}


.game-wrapper {
  column-gap: 30px;
  margin-bottom: 50px;
}

  .eye-wrapper {
    max-width: 1000px;
}

/* .square-1,
.square-2 {
  height: 2rem;
  width: 2rem;
} */

/* .eyes {
  width: 6rem;
} */

.squares-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.negative-marg {
  margin-top: 5px;
}

.icon-col {
  max-width: 200px;
  min-width: 120px;
}

/* .svg-mw {
  max-width: 100px;
} */

.game-logo {
  width: 100%;
  max-width: 150px;
}

.icon-col p {
  font-size: 14px;
}

.icon-header {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
}

.gallery-header {
  max-width: 800px;
}

  .diamond-wrapper {
    max-width: 1100px;
    padding-top: 150px;
    padding-right: 50px;
}

  .motoGPSticker {
    position: absolute;
    top: 40vh;
    right: 20vh;
    max-width: 300px;
}

  .branded-sun img {
    max-width: 60px;
  }
  .hero-wrapper {
    max-width: 700px;
    
  }

  .raffles-wrapper h1 {
    font-size: 40px;
  }

  .features-header,
  .nft-header,
  .gallery-header,
  .bottom-header,
  .motoGp-header,
  .hero-header {
    font-size: 54px;
    line-height: 72px;
  }

  .branded-i-sm img {
    min-width: 28px;
  }

  .branded-a-lower img {
      max-width: 37px;
  }

  .branded-u img {
    max-width: 37px;
    left: 4px;
}

  .branded-i img {
    min-width: 30px !important;
  }

  .branded-a {
    margin: 0 3px !important;
  }

  .branded-a img {
    max-width: 37px;
  }

  .mobile-feature-desc,
  .mobile-icon-text,
  .features-desc,
  .nft-text,
  .raffles-wrapper p,
  .motoGp-desc p,
  .promo-desc,
  .hero-subhead {
    font-size: 20px !important;
    line-height: 33px;
  }

  .hero-subhead {
    max-width: 450px;
  }

  .hero-logo-wrapper img {
    max-width: 150px;
  }

  .hero-container {
    padding: 0;
  }

  .promo-desc {
    font-size: 24px;
    line-height: 40px;
  }

  .social-media-wrapper {
    column-gap: 15px !important;
  }

}

@media only screen and (max-width: 1100px) {

  .motoGpBanner-promo {
    max-height: 50vh !important;
    transform: scale(1.5);
}

.promo-hero-wrapper { 
  max-width: none !important;
  padding: 0 50px !important;
}

.promo-hero-section {
  display: none;
}


  /* .gallery-section {
    padding: 0 50px;
  } */

/* .video-nft-mobile-section {
  padding: 0 50px;
} */

.nft-mobile-content {
  padding: 0 50px;
}

.mobile-feature-header,
.mobile-nft-header {
  font-size: 40px;
  line-height: 60px;
}



  .animoca-logo-mobile {
    min-width: 100px;
  }

  .hex-logo-mobile {
    min-width: 180px;
  }
  


  .motoGp-star {
    max-width: 800px !important;
  }

  .icon-col p {
    max-width: 150px;
  }

  .motoGp-section {
    height: 120vh;
  }

  .stickerMobile {
    top: 30vh;
    right: 10vh;
  }

  .promo-hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-desc {
  text-align: center;
}

  .stickerDesktop {
    display: none;
  }

 .main-nav {
  background-color: black !important;
 }
  
 .connect-btn {
  font-size: 16px;
}


.promo-hero-section {
  align-items: center;
  height: auto !important;
}



}

@media only screen and (max-width: 860px) {

  .game-wrapper,
  .gallery-header {
    padding: 0 50px;
  }

  
  .bottom-banner {
    padding: 60px 50px;
  }

  .icon-header {
    margin-bottom: 10px;
  }

  .site-footer {
    padding: 50px;
  }

  .game-logo {
    max-width: 100px;
}

.game-wrapper {
  column-gap: 15px;
}


  .logo {
    max-width: 170px;
  }

  .nav-left-wrapper {
    display: none;
  }

  .stickerMobile {
    top: 20vh;
    right: 5vh;
  }


  .connect-btn {
    font-size: 16px;
  }

  .motoGPSticker {
    position: absolute;
    top: 20vh;
    right: 10vh;
    max-width: 250px;
}

  .branded-sun img {
    max-width: 60px;
  }
  .hero-wrapper {
    max-width: 500px;
  }

  .features-header,
  .nft-header,
  .gallery-header,
  .bottom-header,
  .motoGp-header,
  .hero-header {
    font-size: 40px;
    line-height: 60px;
  }

  .branded-u img {
    max-width: 30px;
    left: 2px;
  }
  .branded-sun img {
    max-width: 50px;
}

.branded-a-lower img {
  max-width: 28px;
}

.branded-i-sm img {
  min-width: 21px;
  left: -6px;
  top: -8px;
}

  .bottom-banner
  .site-footer,
  .promo-hero-section,
  .hero-container {
    padding: 50px ;
  }

  .promo-hero-section {
    height: 120vh;
  }

  .main-nav-wrapper {
  padding: 23px 50px  !important;
}

  .branded-i img {
    min-width: 25px !important;
  }

  .branded-a img {
    max-width: 27px;
  }

  .branded-sun img {
    max-width: 50px;
  }

  .branded-a {
    margin: 0 2px !important;
  }

  .hero-logo-wrapper img {
    max-width: 130px;
  }

  .mobile-feature-desc, .mobile-icon-text, .features-desc, .nft-text, .raffles-wrapper p, .motoGp-desc p, .promo-desc, .hero-subhead {
    font-size: 20px !important;
    line-height: 33px;
}

.nft-video {
  width: 100vw;
    height: 100%;
}


}

@media only screen and (max-width: 700px) {

  .mobile-feature-header,
.mobile-nft-header {
  font-size: 28px;
  line-height: 44px;
}

.motoGpBanner-promo {
  max-height: 50vh !important;
  transform: scale(2.3);
}


.motoGp-Banner {
  position: relative;
  margin-top: 30px;
}

.promo-hero-wrapper { 
  max-width: none !important;
  padding: 0 20px !important;
}


  
  .bottom-header {
    font-size: 32px;
    line-height: 50px;
  }

  .branded-a-lower img {
    max-width: 24px;
}

  .branded-u img {
    max-width: 23px;
  }

  .branded-i-sm img {
    min-width: 17px;
    left: -5px;
    top: -7px;
  }

  .branded-sun img {
    margin-left: -5px;
    margin-right: -5px;
  }

  .icon-col-mobile {
    gap: 0.5rem !important;
    margin-bottom: 30px;

  }

}

@media only screen and (max-width: 590px) {


  .motoGp-promo-section {
    padding-top: 200px;
  }

  .motoGpBanner-promo {
    max-height: 50vh !important;
    transform: scale(3.3);
  }

  .game-wrapper,
  .gallery-header {
    padding: 0 20px;
  }

  .features-header,
  .nft-header,
  .gallery-header,
  .bottom-header,
  .motoGp-header,
  .hero-header {
    font-size: 28px;
    line-height: 44px;
  }



  .game-logo {
    max-width: 70px;
}

.nft-mobile-content,
.mobile-feature-wrapper {
  padding: 0 20px;
}




.game-wrapper {
  column-gap: 12px;
}


  .raffles-wrapper h1 {
      font-size: 30px;
      margin-bottom: 0;
  }

  .motoGPSticker {
    position: absolute;
    top: 20vh;
    right: 5vh;
    max-width:225px;
}

.bottom-banner {
  padding: 60px 20px;
}

.site-footer {
  padding: 20px;
}


.stickerMobile {
  top: 15vh;
  right: 5vh;
  max-width: 150px;
}

.motoGp-section {
  padding-top: 50px;
}

.motoGp-desc {
  padding: 50px 20px;
}


.motoGp-section {
  height: 80vh;
}

.motoGp-star {
  max-width: 650px !important;
}

.promo-hero-section {
  height: 140vh;
}

  .branded-sun img {
    max-width: 60px;
  }
  .hero-wrapper {
    max-width: 450px;
  }

  .features-header,
  .nft-header,
  .gallery-header,
  .motoGp-header,
  .hero-header {
    font-size: 36px;
    line-height: 55px;
  }

  .hero-container {
    padding: 20px;
  }

  .main-nav-wrapper {
    padding: 23px 20px !important;
}


  .branded-i img {
    min-width: 23px !important;
  }

  .branded-a img {
    max-width: 24px;
  }

  .branded-sun img {
    max-width: 40px;
  }

  .branded-a {
    margin: 0 1px !important;
  }

  .hero-logo-wrapper img {
    max-width: 80px;
  }

  .promo-hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 20%;
  }


}

@media only screen and (max-width: 480px) {

  .motoGPSticker {
    position: absolute;
    top: 15vh;
    right: 5vh;
    max-width:120px;
}

.game-logo {
  max-width: 60px;
}


.social-icon img {
  max-width: 20px;
}

.branded-a-lower img {
  max-width: 17px;
}

.branded-i-sm img {
  min-width: 12px;
  left: -3px;
  top: -6px;
}

branded-u img {
  max-width: 15px;
}

.bottom-header {
  font-size: 22px;
  line-height: 40px;
}


  .motoGp-section {
    padding-top: 50px;
  }

  .motoGp-star {
    max-width: 500px !important;
}

.motoGp-section {
  height: 100vh;
}

.gallery-header,
 .motoGp-header {
  font-size: 26px;
    line-height: 40px;
 }

  .promo-desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.mobile-connect {
  display: none;
}

.connect-btn {
  font-size: 14px;
  padding: 10px 15px;
}

.logo {
  max-width: 140px;
}

.promo-hero-section {
  padding: 20px;
}

.main-nav-wrapper {
  padding: 23px 20px !important;
}

  .branded-sun img {
    max-width: 60px;
  }
  .hero-wrapper {
    max-width: 300px;
  }

  .hero-header {
    font-size: 24px;
    line-height: 45px;
  }

  .hero-container {
    padding: 20px;
  }

  .branded-i img {
    min-width: 13px !important;
    left: -3px;
    top: -4px;
  }

  .branded-a img {
    max-width: 15px;
  }

  .branded-sun img {
    max-width: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .branded-a {
    margin: 0 1px !important;
  }

  .hero-logo-wrapper img {
    max-width: 80px;
  }
  


  .mobile-feature-desc,
.mobile-icon-text,
  .features-desc,
  .nft-text,
  .raffles-wrapper p,
  .motoGp-desc p,
  .promo-desc,
  .hero-subhead {
    font-size: 14px !important;
    line-height: 28px;
  }

  .hero-subhead {
    max-width: 450px;
  }

}


@media only screen and (max-width: 330px) {

  .hero-header {
    font-size: 23px;
  }

}